body {
    background: #0f172a;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.chat-container {
    width: 420px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px #0005;
}

h1 {
    text-align: center;
}

#messages {
    background: #334155;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.message {
    padding: 8px;
    margin-bottom: 8px;
    background: #475569;
    border-radius: 6px;
}

.input-area {
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

button {
    background: #6366f1;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #818cf8;
}

.keys-box textarea {
    width: 100%;
    height: 60px;
    margin-top: 6px;
    background: #0f172a;
    color: #a3e635;
}

.decrypt-btn {
    background-color: #f97316;
    margin-top: 10px;
    width: 100%;
}
