body {
text-align: center;
color: #2a4fa3;
}


#rsa-panel textarea {
width: 100%;
height: 70px;
margin-top: 8px;
border-radius: 6px;
border: 1px solid #b4c6ff;
padding: 6px;
resize: none;
}


#generateKeys {
width: 100%;
padding: 10px;
margin-bottom: 8px;
background: #2a4fa3;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
}


#messages {
list-style: none;
padding: 0;
height: 260px;
overflow-y: auto;
border: 1px solid #b4c6ff;
border-radius: 8px;
padding: 10px;
margin: 15px 0;
background: #f6f8ff;
}


#messages li {
background: #dbe4ff;
padding: 8px 12px;
margin: 6px 0;
border-radius: 8px;
max-width: 80%;
}


#controls {
display: flex;
gap: 6px;
}


#input {
flex: 1;
padding: 10px;
border-radius: 8px;
border: 1px solid #8aa0e6;
}


#controls button {
padding: 10px;
background: #2a4fa3;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}